.mainLayout {
  margin: auto;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
}

.nav {
  background-color: #369E8F;
  display: block;
  grid-template-columns: minmax(5px, auto) minmax(300px, 1300px) minmax(5px, auto);
}

.nav span, .nav a {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
}

.nav span {
  border-bottom: dotted 3px darkslategray;
}

.nav a {
  border-bottom: solid 3px darkslategray;
  transition: 300ms;
}

.nav a:link, .nav a:visited, .nav a:hover, .nav a:active {
  color: rgb(207, 220, 236);
}

.nav span {
  color: #f1e8e8;
}

.nav a:link, .nav a:visited, .nav a:hover, .nav a:active, .nav span {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.1em;
}

.nav a:hover {
  border-bottom-color: darkturquoise;
}

.nav ul {
  display: grid;
  margin: 5px;
  gap: 1ch;
  grid-template-columns: repeat(3, minmax(10px, 100%));
  justify-items: center;
  padding: 0;
}

.nav li, .nav li a, .nav li span {
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  .nav {
    background-color: #073a32;
  }
}
