body {
  background: white;
  margin: 0;
}

header {
  display: contents;
}

* {
  color: black;
}

p, a, span, h1, h2, h3, h4, h5, h6 {
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

a {
  color: #8954A8;
}

p, a {
  font-size: 1em;
}

a:link, a:visited, a:hover, a:active {
  color: rgb(21, 133, 245);
  text-decoration: none;
  transition: 300ms;
}

a:hover, a:active {
  color: rgb(130, 182, 235);
}

@media (prefers-color-scheme: dark) {
  body {
    background: #101010;
  }

  * {
    color: #b8d2b2;
  }

  a {
    color: #e82881;
  }
}


